{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
{% block content %}
<div id="cuerpoHeredado">
   <form action="{% url 'crear_historias_especialidad' %}" method="post">
      {% csrf_token %}
      <div class="hidden">
        {% bootstrap_form_errors form %}
    </div>
      {{form}}
      <div id='preguntas'></div>
      <h4>Agregar pregunta: &nbsp;&nbsp;<i id="agregar_pregunta" class="fa fa-plus" style="color: green;"></i></h4>
    {% csrf_token %}
      {% buttons %}
        <div class="col-xs-12">
            <br>
            <button id="id_submit" type="submit" class="btn btn-lg calculate">
                Guardar
            </button>
            <br>
            <br>
        </div>
        <div class="col-md-3"></div>
    {% endbuttons %}
   </form>
</div>

{% endblock %}
{% block custom_script %}
<script type="text/javascript">

  $('#id_especialidad').on('change', function(){
  var especialidad = $(this).val();
  url = "{% url 'obtener_preguntas_especialidad' 0 %}".replace('0', especialidad);
  $('#preguntas').empty();
  $.ajax({
          type: 'GET',
          url: url,
          contentType:'application/json; charset=utf-8',

          success: function(response) {
              console.log(response);
              $.each(response.preguntas, function(k, v) {
                  console.log(this)
                  var pregunta = JSON.stringify(this.pregunta);
                  $('#preguntas').append('<br><br><br> Pregunta &nbsp;&nbsp;&nbsp;<input type="text" name="pregunta" value=' + pregunta + ' readonly><br><br>Respuesta <input type="text" name="respuesta"'+ (this.obligatoria ? 'required' : '') + '>');
              });
          },
          error: function(error) {
              console.log(error);
          }
      });
  });

  $('#agregar_pregunta').on('click', function(){
      $(this).parent().append('<br><br><br> Pregunta &nbsp;&nbsp;&nbsp;<input type="text" name="pregunta">\
                              <br><br>Respuesta <input type="text" name="respuesta">');
  })
</script>
{% endblock %}
